<?xml version="1.0" encoding="UTF-8"?>
<taglib>
    <tlib-version>0.1</tlib-version>
    <jsp-version>1.2</jsp-version>
    <short-name>functions</short-name>
    <tag>
        <name>setProperty</name>
        <tagclass>com.gpi.utils.PropertiesTag</tagclass>
        <info>Set property function.</info>
        <attribute>
            <name>var</name>
            <required>true</required>
        </attribute>
        <attribute>
            <name>name</name>
            <required>true</required>
        </attribute>
    </tag>

    <tag>
        <name>setUrlProperty</name>
        <tagclass>com.gpi.utils.UrlPropertiesTag</tagclass>
        <info>Set url property function.</info>
        <attribute>
            <name>var</name>
            <required>true</required>
        </attribute>
        <attribute>
            <name>name</name>
            <required>true</required>
        </attribute>
        <attribute>
            <name>secureName</name>
            <required>false</required>
        </attribute>
    </tag>

</taglib>
