#tx_container{
	background: #fff;
	border-radius: 5px;
	font-family: Helvetica;
}
.data-container{
	padding: 20px;
	margin: 0 10px;
	width: 640px;
	float: left;
}

.data-container-small{
	padding:  0px 20px;
	clear: both;
	text-align: left;
	margin: 0 10px;
	font-size: 15px;
}

.blue{
    color: blue;
}
.red{
    color: red;
}

.tickets {
	display: block;
	height: 250px;
	width: 630px;
}

.tickets table {
	float: left;
	margin: 10px 20px;
}

.tickets td {
	background-color: #fff;
	border: 1px solid black;
	border-spacing: 0px;
	width: 48px;
	height: 27px;
	position: relative;
}

.extraBallPosition{
	position: absolute;
	font-size: 12px;
	width: 20px;
	height: 20px;
	color: yellow;
	font-weight: bold;
	top: 13px;
	font-family: arial;
}
.spin{
	float: left;
	height: 250px;
	width: 255px;
	text-align: left;
	font-size: 15px;
}

.win{
	color: #CC0000;
	float: left;
	text-align: left;
		padding:  0px 20px;
	clear: both;
	margin: 0 10px;
	font-size: 15px;
}

#tx_container label {
	font-weight: bold;
	display: block;
	width: 190px;
	float: left;
}

#tx_container span {
	display: block;
	float: left;
}


